/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body{
  margin: 20px;
}

.effect{
   transition:        all 0.5s ease-in-out;
  -moz-transition:    all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition:      all 0.5s ease-in-out;

}

.col-md-0{ width: 0%;}

ul.nav.nav-pills li.danger a:hover{
  background-color: #d9534f;
  color: white;
}

ul.nav.nav-pills li.success a:hover{
  background-color: #5cb85c;
  color: white;
}

#menu{
  margin-bottom:20px;
}