<section id="products-list" class="row">

<ul class="nav nav-pills nav-stacked" ng-class="{'col-md-8': user, 'col-md-12': !user}">
  <li ng-repeat="product in products">
    <a href="#" ng-click="addProduct(product)">
      <span class="badge pull-right">{{product.price|currency}}</span>
      {{product.name}}
    </a>
  </li>
</ul>


<div class="col-md-4" ng-controller="ShoppingCartCtrl">
  <div ng-show="user" class="panel panel-primary">
    <div class="panel-heading"><i class="glyphicon glyphicon-shopping-cart"></i> Pedido</div>
    <div class="panel-body">

      <ul class="list-group row">
        <li ng-repeat="item in order.order_items" class="list-group-item">
          {{item.product.name}}
          <span class="badge">
            <i ng-click="subtract(item)" class="glyphicon glyphicon-minus-sign"></i>
            {{item.amount}}
            <i ng-click="add(item)" class="glyphicon glyphicon-plus-sign"></i>
            {{item.total|currency}}
            <i ng-click="remove(item)" class="glyphicon glyphicon-trash"></i>
          </span>
        </li>
      </ul>

    </div>
    <div class="panel-footer">
      <div class="text-right"><b>total: {{total()|currency}}</b></div>

      <button class="btn btn-primary">Comprar</button>
    </div>
  </div>
</div>


</section>